



#head-section{
    width: 100%;
    height: 120px;    
}

#wrapper{
    margin: auto;
    max-width: 900px;
}
.form-wrapper{
    margin: auto;
    max-width: 750px;
}

table{
    column-width: 300px;
}
